:root{
    --main-color: #538392;
    --secondary-color: #6295A2;
    --third-color: #80B9AD;
    --fourth-color: rgb(229, 229, 229);
}

@font-face {
    font-family: my-font;
    src: url(font.ttf);
}   

* {
    margin: 0;
    padding: 0;
    font-family: my-font;
}

body {
    background: linear-gradient(140deg, #D8EFD3 16%, #55AD9B 100%);
}

.header {
    margin: 25px;
    font-size: 2.5rem;
    text-align: center;
}
    
.bold {
    font-weight: bolder;
}

.container-box {
    background-color: var(--fourth-color);
    margin: 2rem;
    padding: 2rem;
    min-height: 90vh;
    border-radius: 20px;
    box-shadow: 5px 5px 30px 5px rgb(39, 39, 39);
}

.text {
    font-size: 1.6rem;
}

.cards-container {
    margin-top: 1rem;
    display: grid;
    grid-template: 1fr / repeat(auto-fit, 200px);
    gap: 2rem;
}

.card {
    background: linear-gradient(140deg, #D8EFD3 16%, #55AD9B 100%);
    height: 10rem;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    grid-template: 3fr 1fr / 1fr 1fr;
    column-gap: 15px;
    box-shadow: 1px 1px 5px;
}

.big {
    grid-column: 1 / 3;
    font-size: 2vw;
    justify-self: center;
    align-self: center;
}

button {
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    background-color: whitesmoke;
    cursor: pointer;
    transition: 300ms;
}

#status {
    background-color: #ff3333;
}

button:hover {
    background-color: var(--fourth-color);
    scale: 1.04;
}